<h2><%= cat.name %></h2>

<img class='rounded-3 text-center' style="width: 100px; height: auto; image-size: center;" src= '<%= cat.images_url[0] %>' alt="">
<p>
  <ul>
    <li><%= cat.sexe %></li>
    <li><%= cat.age %> ans</li>
    <li>race : <%= cat.race %></li>
    <li><%= cat.location %> </li>
  </ul>
<div class="black d-flex justify-content-around">
  <%= link_to 'view', cat_path(cat), class: 'btn btn-warning' %>
  <%= link_to 'louer', new_cat_reservation_path(cat), class: 'btn btn-primary'%>
</div>
</p>
