
    <% if current_user.cats..photos.attached? %>
      <div class= "" >
        <%= cl_image_tag @cat.photos[0].key, height:300, width:400, crop: :fill, class:"card-img rounded-4" %>
      </div>
      <div class= "d-flex flex-column ">
        <% if @cat.photos.size == 2 %>
          <%= cl_image_tag @cat.photos[1].key, height:300, width:400, crop: :fill, class:"card-small-img rounded-4  mb-2 ps-2" %>
        <% end %>
        <% if @cat.photos.size == 3 %>
          <%= cl_image_tag @cat.photos[2].key, height:300, width:400, crop: :fill, class:"card-small-img rounded-4  mb-2 ps-2" %>
        <% end %>
      </div>
    <% else %>
    <div class= "" >
      <img src="<%= @cat.images_url[0]  %>" class="card-img rounded-4 " alt="">
    </div>
    <div class= "d-flex flex-column ">
      <img src="<%= @cat.images_url[1]  %>"  class="card-small-img rounded-4  mb-2 ps-2" alt="...">
      <img src="<%= @cat.images_url[2]  %>" class="card-small-img rounded-4  d-block ps-2"  alt="...">
    </div>
    <% end %>
  </div>

  <div>
    <%= current_user.cats %>
      <% @cats.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  </div>
