<div class="card-user center">
  <h1 class= "pt-3 "> Bienvenue <%= current_user.first_name %> </h1>
  <div class= "d-flex flew-row justify-content-between ps-3">
    <ul>
      <li class= "fs-5 pt-5 pb-2">Prenom : <%= current_user.first_name %>
      </li>
      <li class= "fs-5 pb-2">Nom : <%= current_user.last_name %>
      </li>
      <li class= "fs-5 pb-2">Email : <%= current_user.email %>
      </li>
      <li class= "fs-5 pb-2">Adresse : <%= current_user.address %>
      </li>

    </ul>
      <p class= "card-user rounded-3 px-2">
        <img class='avatar-large' src="<%= current_user.image_url %>" alt="">
      </p>
</div>
  </div>
  <div class= "card-resa pt-5 ">
    <div class= "d-flex row gx-5 ">
          <div class= "card-shadow col pt-3 me-4 text-center">
            <h2 class= "fs-2">Mes chats</h2>
            <hr>
            <div  class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            <p class= "text-start">p'tit chat</p>
            </div>
              <div  class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            <p class= "text-start">p'tit chat</p>
            </div>
          </div>


        <div class= "card-shadow col pt-3 text-center">
          <h2 class = "fs-2">Mes reservations</h2>
          <hr>
          <div  class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            <div class= "d-flex row">
              <p class= "text-center">p'tit roux</p>
              <p class= "text-center">date</p>
            </div>
           </div>
          <div  class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            <div class= "d-flex row">
              <p class= "text-center">p'tit roux</p>
              <p class= "text-center">date</p>
            </div>
            <hr>
          </div>
        </div>
    </div>
    <div class="row justify-content-end mt-3">
      <p class =" col-2 btn-grad"> <%= link_to 'edit', edit_user_registration_path %></p>
    </div>
  </div>
