<div class="card-user center">
  <h1 class= "pt-3 "> Bienvenue <%= current_user.first_name %> </h1>
  <div class= "d-flex flew-row justify-content-between ps-3">
    <ul>
      <li class= "fs-5 pt-5 pb-2">Prenom : <%= current_user.first_name %>
      </li>
      <li class= "fs-5 pb-2">Nom : <%= current_user.last_name %>
      </li>
      <li class= "fs-5 pb-2">Email : <%= current_user.email %>
      </li>
      <li class= "fs-5 pb-2">Adresse : <%= current_user.address %>
      </li>
    </ul>
      <div class= "card-user rounded-3 px-2">

        <%# affichier la photo dans le profile %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 220, width: 220, crop: :fill, class:"rounded" %>
         <% else %>
          <img src="<%= current_user.image_url%>" alt="", class="avatar-large">
         <% end %>
      </div>
</div>
    <div class="row justify-content-end mt-3">
      <p class =" col-2 btn-grad"> <%= link_to 'edit', edit_user_registration_path %></p>
    </div>
  </div>
  <div class= "card-resa pt-5 ">
    <div class= "d-flex row gx-5 ">
          <div class= "card-shadow col pt-3 me-4 text-center">
            <h2 class= "fs-2">Reservations emises</h2>
            <hr>
            <% @reservations_sent.each do |resa| %>
              <div class="card-product">

                <%# afficher l'image soit des seed ou de cloudinary  %>
                <% if resa.cat.photos.attached? %>
                  <%cat.photos.first(1).each do |img| %>
                    <%= cl_image_tag img.key, crop: :fill %>
                  <% end %>
                <% else %>
                <img src="<%= resa.cat.images_url[0]%>" alt="">
                <% end %>

                <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
                <div class="card-product-infos">
                  <h2>Cat name: <%= resa.cat.name %></h2>
                  <p>Start_date: <%= resa.start_date %></p>
                  <p>end_date: <%= resa.end_date %></p>
                  <p>Total price: <%= resa.total_price %>€</p>
                  <p>Statut: <%= resa.statut_string %></p>
                </div>
              </div>
            <% end %>
          </div>
        <div class= "card-shadow col pt-3 text-center">
          <h2 class = "fs-2">Reservations reçues</h2>
          <hr>
            <% @reservations_received.each do |resa| %>
              <div class="card-product">
                <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
                <% if resa.cat.photos.attached? %>
                  <%resa.cat.photos.first(1).each do |img| %>
                    <%= cl_image_tag img.key, crop: :fill %>
                  <% end %>
                <% else %>
                  <img src="<%= resa.cat.images_url[0]%>" alt="">
                <% end %>
                <div class="card-product-infos">
                  <div class="d-flex  justify-content-between ">
                    <div class = mx-3>
                      <h2>Cat name: <%= resa.cat.name %></h2>
                      <p>Start_date: <%= resa.start_date %></p>
                      <p>end_date: <%= resa.end_date %></p>
                      <p>Total price: <%= resa.total_price %>€</p>
                      <p>Statut: <%= resa.statut_string %></p>
                    </div>

                    <% if resa.statut.nil? %>
                      <div class= "d-flex  justify-content-between ">
                        <p class =" ms-5 btn-grad"> <%= link_to 'Approuver', accept_path(resa), data: { turbo_method: :patch } %></p>
                        <p class =" ms-5 btn-grad"> <%= link_to 'Refuser ', edit_user_registration_path %></p>
                      </div>
                    <% end %>

                  </div>
                </div>
              </div>
            <% end %>
           <hr>
          </div>
        </div>
    </div>
  </div>
