<div>
   <div class = "">
      <%= simple_form_for @cat do |f| %>

        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :race %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :sexe, collection: Cat::SEXE %>
        <%= f.input :location %>
    </div>
    <div class= "d-flex  flex-row-reverse fs-5">
        <%= f.submit class: "btn-grad mb-2"  %>
      <% end  %>
    </div>
</div>
