
<div class="card-cats d-flex">
  <img     <%= @cat.photos.count %>
  <% @cat.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %> >
  <div class="card-product-infos">
    <h2><%= @cat.name %></h2>
    <p><%= @cat.race %></p>
    <p><%= @cat.sexe %></p>
    <p><%= @cat.description %></p>
    <p><%= @cat.location %></p>
  </div>
</div>

 <div class = "d-flex pt-10">
      <%= link_to "Supprimer le chat", cat_path(@cat), class: "btn btn-danger btn btn-light rounded-pill", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this cat" } %>
<% if @cat.user == current_user %>
      <%= link_to "Mettre à jour ses informations", edit_cat_path(@cat), class: "btn btn-light rounded-pill" %>
 <% end %>
  </div>


<%# <%= link_to "Supprimer le chat", cat_path(@cat), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this cat" } %>


<%# edit_cat

<%# delete cat %>


<%# btn-light %>

<%# btn-cancel %>
<%# btn-primary %>
