<div class= "footer-container ">
  <h2 class="pt-3"><%= @cat.name %></h2>
  <div class = "d-flex flex-row ms-3" >
    <p>reviews(comming soon)</p>
    <p class= "ms-3">Address:  <%= @cat.location  %></p>
  </div>
  <div class="d-flex flex-row pb-5">
    <div class= "" >
      <img src="<%= @cat.image_url  %>" class="card-img rounded-4 " alt="">
    </div>
    <div class= "d-flex flex-column ">
      <img src="<%= @cat.image_url  %>"  class="card-small-img rounded-4  mb-2 ps-2" alt="...">
      <img src="<%= @cat.image_url  %>" class="card-small-img rounded-4  d-block ps-2"  alt="...">
    </div>
  </div>
    <div class= "d-flex flew-row justify-content-between ps-3">
       <div class= >
         <div class="d-flex " >
              <div class = "" >
                <h2> Name: <%= @cat.name %></h2>
                <p class="ps-3">Race: <%= @cat.race %></p>
                <p class="ps-3">Sexe: <%= @cat.sexe %></p>
              </div>
            <img src="<%= User.find(@cat.user_id).image_url%>" class= "img-round margin-icone" alt="">
          </div>
          <hr>
          <p> <%= @cat.description %></p>
       </div>
        <div class= "card card-text  rounded-4 pb-3 ">
          <p class ="fw-bolder mt-3 mx-3">price by night <%= @cat.price %> €</p>
            <div class= "card justify-content-center">
              <div>
                <div class="btn-grad ">
                  <%= link_to "Reserver ce Chat", new_cat_reservation_path(@cat)  %>
                </div>
              </div>
            </div>
            <div class = "d-flex flex-row justify-content-between mt-3">
            </div>
        </div>
    </div>
</div>
